section#about.about 
  .about__img-container-1 
    .about__decoration-1
    .about__decoration-2

  h2.heading 
    span.word イベント
    span.word 詳細

  +about-table([
    {
      attr: "開催地",
      value: "〇〇〇〇〇〇〇〇"
    },
    {
      attr: "料金",
      value: "<span class='word'>大人　</span><span class='word'>〇,〇〇〇円</span><br><span class='word'>こども</span>　<span class='word'>〇,〇〇円</span>"
    },
    {
      attr: "開催期間",
      value: "<span class='word'><date>7月２４日<date>(土)～</span><span class='word'><date>８月２２日<date>(日)</span>"
    },
    {
      attr: "開催時間",
      value: "〇〇〇〇〇〇〇〇"
    },
    {
      attr: "注意事項",
      value: "〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇"
    },
  ])

  .about__img-container-2 
    .about__decoration-3
    .about__decoration-4