footer#footer.footer
  a.footer__move-to-top-button(href="#hero-header")
    include /assets/images/svg/move-to-top-button.svg

  p.footer__copyright 
    small &copy; 2021 kurage-ten All rights reserved.