header#hero-header.hero-header 
  .hero-header__bg 
    .hero-header__bg-mask 
      #shape-mask.shape-mask 
        include /assets/images/svg/shape-mask.svg

    .hero-header__bg-img

  p.hero-header__event-period 
    date.hero-header__event-date.-start ７月２４日
    | ～
    data.hero-header__event-date.-end ８月２２日

  h1.hero-header__site-title #{SITE_TITLE}

  p.hero-header__site-desc !{SITE_DESC}

  p.hero-header__prompt-to-scroll スクロール