#loading-screen.loading-screen 
  .loading-screen__loading-text
    span.loading-screen__loading-chara 
      include /assets/images/svg/loading-chara-1.svg

    span.loading-screen__loading-chara 
      include /assets/images/svg/loading-chara-2.svg

    span.loading-screen__loading-chara 
      include /assets/images/svg/loading-chara-3.svg

    span.loading-screen__loading-chara 
      include /assets/images/svg/loading-chara-2.svg

    span.loading-screen__loading-chara 
      include /assets/images/svg/loading-chara-4.svg

    span.loading-screen__loading-chara 
      include /assets/images/svg/loading-chara-5.svg

    span.loading-screen__loading-chara 
      include /assets/images/svg/loading-chara-5.svg
      
    span.loading-screen__loading-chara 
      include /assets/images/svg/loading-chara-5.svg