-
  var SITE_TITLE = "クラゲ展";
  var SITE_DESC = "幻想的な世界で、<br>「癒し」と「涼」を。";
  
  var ROOT_PATH = "/";
  var IMG_PATH = ROOT_PATH + "assets/images/";

  var PC_BREAKPOINT = "1025px";
  var TC_BREAKPOINT = "600px";